apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cicd-app
  name: cicd-app-dep
spec:
  replicas: 3
  selector:
    matchLabels:
      app: cicd-app
  template:
    metadata:
      labels:
        app: cicd-app
    spec:
      containers:
      - image: vladoz77/cicd-test-project:latest
        name: cicd-test-project
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            memory: 100Mi
            cpu: 50m
          limits:
            memory: 250Mi
            cpu: 100m
        
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 2

        livenessProbe:
          failureThreshold: 5
          initialDelaySeconds: 30
          periodSeconds: 15
          successThreshold: 1
          tcpSocket:
            port: 8080
          timeoutSeconds: 2
        
        ports:
          - name: app
            containerPort: 8080
          
status: {}
